header, footer{
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 30px;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 15, 15)
}

html {
    background-color :aqua;
}