#container {
    display: flex;
    text-align: center;
    border-radius: 15px;
}

h1 {
    font-family: 'Monoton';
    color: #c305f3;
    text-shadow: 0 0 4px #000000, 0 0 8px #000000, 0 0 12px #000000, 0 0 16px #000000; 
    font-size: 250px;
    margin-top: -30px;
    background-color: rgba(10, 10, 10, 0.6);
    z-index: 1;
}

header {
    background-image: url("Retro.jpeg");
    background-size: fill;
    height: 350px;
}

nav {
    flex: 0 1 20%;
    background-image: url("Store.jpeg");
    background-size: cover;
    list-style-type: none;
    padding: 0;
    font-family: 'Monoton';
    font-size: 100px;
    color: #e0f007;

    
}

a {
    display: block;
    padding: 10px;
    color: #e0f007;
    border-style: groove;
    border-width: 2px;
    text-decoration: none;
    transition-duration: 0.5s;
    background-color: rgb(33, 1, 34, .7);
    border-radius: 15px;
}


main {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 60%;
    justify-content: space-around;
    align-items: center;
    background-color: #a01e1e;
    margin-bottom: 500px;
    height: 100vh;
    background-image: url("Symbol3.png");
    background-size: cover;
    background-position-y: 220px;
}

aside {
    flex: 0 1 20%;
    background-color: #f2f2f2;
    background-image: url("Store.jpeg");
    background-size: cover;
    background-position: 450px;
}

#container {
    height: 100vh;
    display: flex;
}

#about {
    font-family: 'Monoton';
    color: #e0f007;
    text-shadow: 0 0 4px #000000, 0 0 8px #000000, 0 0 12px #000000, 0 0 16px #000000; 
    font-size: 30px;
    background-color: rgba(10, 10, 10, 0.8);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 700px;
}

#about2 {
    font-family: 'Monoton';
    color: #e0f007;
    text-shadow: 0 0 4px #000000, 0 0 8px #000000, 0 0 12px #000000, 0 0 16px #000000; 
    font-size: 30px;
    background-color: rgba(10, 10, 10, 0.8);
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 700px;
}

#aboutImage { 
    position: relative;
    float: right;
    border-radius: 15px;
    border-style: groove;   
}

#aboutImage2 { 
    position: absolute;
    bottom: -300px;
    left: 650px;
    border-radius: 15px;
    border-style: groove;
}

#album1 {
    background-image: url("DeadLine.jpg");
    background-size: cover;
    height: 200px;
}

#album2 {
    background-image: url("Airrang.jpg");
    background-size: cover;
    height: 200px;
}

#album3 {
    background-image: url("Reverxe.jpg");
    background-size: cover;
    height: 200px;
}

#album4 {
    background-image: url("Reason.jpg");
    background-size: cover;
    height: 200px;
}

#album5 {
    background-image: url("Karma.jpg");
    background-size: cover;
    height: 200px;
}

#album1, #album2, #album3, #album4, #album5 {
    color: white;
    transition-duration: 1.0s;
    transition-property: transform;
    width: 200px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 800px;
    border-radius: 15px;
}

#album1:hover {
    transform: translateY(350px) scale(3.5);
    z-index: 3;
}

#album2:hover {
    transform: translateY(350px) scale(3.5);
    z-index: 3;
}

#album3:hover {
    transform: translateY(350px) scale(3.5);
    z-index: 3;
}

#album4:hover {
    transform: translateY(350px)  scale(3.5);
    z-index: 3;
}

#album5:hover {
    transform: translateY(350px)  scale(3.5);
    z-index: 3;
}

header {
    background-color: #f2f2f2;
    text-align: center;
    padding: 10px;
}

table {
    font-family: 'Monoton';
    color:#e0f007;
    width: 100%; 
    border-collapse: collapse;
    background-color: rgb(33, 1, 34, .7);
    border-radius: 15px;
    border-style: groove;
    border-width: 2px;
}

thead {
    color:#000000;
    background-color: #f50505;
    size: 60px;
    font-weight: bold;
}

footer {
    background-color: rgba(218, 0, 83, 0.4);
    color:#e0f007;
    text-align: center;
    padding: 10px;
    font-family: 'Monoton';
    font-size: 20px;
}

h2 {
    font-family: 'Monoton';
    color: #e0f007;
    text-shadow: 0 0 4px #000000, 0 0 8px #000000, 0 0 12px #000000, 0 0 16px #000000; 
    font-size: 50px;
}

html {
    background-color: #050505;
}
