#imgSize  {
    width: 600px;
    height: 600px;
    display: block;
  
}

h5 {
    font-size: 45px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

* {
    background-color:rgb(243, 142, 10);
}

.carousel-control-prev, 
.carousel-control-next {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.1));
    opacity: 0.8;
}

.carousel-caption, h5 {
    background: linear-gradient(to bottom, rgba(224, 221, 221, 0.5), rgba(0,0,0,0.1));
    opacity: 0.8;
    position: static; 
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #b91717;

}