header {
    background-color: #ebece2;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

h1 {
    color:aqua;
    font-family: 'Fascinate Inline', system-ui;
    font-size: 75px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

#customForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#greeting {
    font-family: notable, system-ui;
    background-image: url("waves.png");  
    background-size: cover; 
    font-size: 80px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

#message {
    font-size: 20px;
    color: #b44db8;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (max-width: 768px) {
    .image1, .image2 {
        display: none;
    }
    
    #customForm {
        width: 100%;
        padding: 10px;
    }
}

.origin-left{   
    top: 100px;
    height: 500px;
}

.origin-right{ 
    top: 100px;
    height: 500px;
}

.form-group {
    display: fit-content;
    margin-bottom: 15px;
    border-style: dashed;
    border-color: #be8cb6;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;   
}

.form-group2 {
    display: fit-content;
    margin-bottom: 15px;
    border-style: dashed;
    border-color: #be8cb6;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;   
}

.todo-group {
    margin-bottom: 15px;
    border-style: dashed;
    border-color: #be8cb6;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;   
    display: flex;
    flex-direction: column;
}

.todo-section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.todo-area {
    flex:1;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;   
    align-self: start;
}

button {
    padding: 10px 20px;
    background-color: #be8cb6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto; 
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #be8cb6;
    margin-top: 20px;
    background-image: url("banner.png");
    background-size: cover;
    background-color: #c9ae8b;
}

